#pads-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,0.5);
	width: 530px;
	height: 530px;
	padding: 10px;
	border: 3px solid rgba(255,255,255,0.2);
	border-radius: 25px
}

#thundercats {
	position: absolute;
	display: inline;
	padding: 0;
	margin: 0;
	width: 530px;
	height: 530px;
	border-radius: 15px;
	z-index: -1
}

img {
	opacity: 0.8;
}

#top8 {
	margin: 0 auto;
	text-align: center;
	/*z-index: 1;*/
}

#bot8 {
	margin: 0 auto;
	text-align: center;
	/*z-index: 1;*/
}

#sound-banks {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
	border-top-right-radius: 90px;
	border-bottom-left-radius: 60px;
	/*border: 2px solid rgba(255,255,255,0.5);*/
	box-shadow: 0px 0px 50px #ffffff
}

#fx-container {
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin: 20px;
	width: 200px;
	color: white;
	border-top-right-radius: 70px;
}

#drums-container {
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin: 20px;
	width: 200px;
	color: white;
	border-bottom-left-radius: 40px;
}

.bank-name {
	color: black;
}