.recordOn {
	background: red;
}

.playOn {
	background: #00ff00;
}

.playOff {
	background: lightgrey;
}


#controls {
	position: fixed;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	/*top: 0px;*/
	width: 280px;
	height: 50px;
	background: rgba(255,255,255,0.7);
	margin: 0 auto;
	text-align: center;
	border-radius: 50px
}

#controls button {
	font-size: 1.5em;
	margin-top: 8px;
}

button:hover {
	box-shadow: 0px 0px 10px #000000;
}