.modalBackground {
	display: none;
	z-index: 9000;
	position: absolute;
	background: rgba(0,0,0,0.6);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.modal {
	display: none;
	z-index: 9001;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	text-align: center;
	width: 400px;
	height: 300px;
	background: #bbbbbb;
	/*border-radius: 30px;*/
	border: 5px solid white;
	font-size: 1.5em;
}

#close {
	text-align: right;
	/*padding: 10px;*/
}

#close span {
	position: relative;
	left: 20px;
	bottom: 20px;
	cursor: pointer;
	color: #ffffff;
	font-size: 0.7em;
	background: #000000;
	padding: 6px 11px 6px 11px;
	border-radius: 100%;
	border: 3px solid #ffffff;
	box-shadow: 1px 1px 4px #000000;
}

.labels {
	font-size: 0.7em;
}

#modal-name {
	text-align: center;
}

input {
	height: 40px;
	width: 250px;
	margin: 10px;
}

input[type="text"] {
	text-align: center;
	font-size: 0.7em;
	color: #666666;
}

input[type="submit"] {
	width: 100px;
}